
body{
	font-family: sans-serif;
	font-weight: normal
}

h1{
	text-align: center;
	font-style: italic
}

h2{
	color: #1a237e;
	text-decoration: underline;
	font-weight: lighter;
	font-size: 25px
}

p{
	text-align: justify;
	font-size: 14px;
	line-height: 23px;
}

img {
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: right;
  margin: 8px 0 0 20px;
  padding: 4px;
  width: 200px;