* {
	box-sizing: border-box;
}


body {
	background-color: black;
	background-image:url("../img/dark.png");
}

header{
	background-image:url("../img/spiration-light.png");
	padding:5px 0px;
	font-family: 'Merienda', cursive;
	display: block;
} 

h1{
	text-align: center;
	display: block;
	margin: auto;
}


img.ico_titulo1 {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 500px;
	top: 25px;
}

img.ico_titulo2 {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 500px;
	top: 25px;
	}

section.menu{
	background-image:url("../img/dark.png"); 
	font-family: 'Merienda', cursive;
}

section.menu ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden; /*overflow:hidden is added to the ul element to prevent li elements from going outside of the list.*/
	border: 1px solid white;
}

section.menu li{
	float:left;
	border-right: 1px solid white;
}

section.menu li:last-child{
	border-right: none;
	border-left: 1px solid white;
}
section.menu li a {
	display: block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}

section.menu li a:hover {
	background-image: url("../img/spiration-light.png");
	color: black;
}

section.entradas, section.postres{
	background-image: url("../img/spiration-light.png");
	font-family: 'Merienda', cursive;
	color: black;
	width: 40%;
	margin-left:100px;
	margin-top:50px;
	border-radius: 5px;
	float: left;
}

section.entradas h2, section.postres h2{
	border: 1px dashed black;
	border-radius:50%;
	padding-top:15px;
	text-align: center;
	color:black;
}

section.entradas p, section.postres p{
	font-size: 12px;
	text-align: justify;
	margin:0px 30px;

}

section.entradas ul, section.postres ul{
	padding:15px 0;
	width: 15%;
	margin: 0 auto;
}

section.platos, section.bebidas{
	background-image: url("../img/spiration-light.png");
	font-family: 'Merienda', cursive;
	color: black;
	width: 40%;
	border-radius: 5px;
	margin-right: 100px;
	margin-top:50px;
	float: right;	
}

section.platos h2, section.bebidas h2{
	border: 1px dashed black;
	border-radius:50%;
	padding-top:15px;
	text-align: center;
	color:black;
}

section.platos p, section.bebidas p{
	font-size: 12px;
	text-align: justify;
	margin:0px 30px;

}

section.platos ul, section.bebidas ul {
	padding:15px 0;
	width: 15%;
	margin: 0 auto;
}

img.ico_h2 {
	width: 25px;
	height: 25px;
	align-content: top-left;
	margin: 5px 0px 0px 5px;
}

section.contacto, section.redes-sociales{
	clear: both;
	padding-top: 25px;
	background-image:url("../img/dark.png");
	font-family: 'Merienda', cursive;
	font-size: 20px;
}

section.contacto h2, section.redes-sociales h2{
	color: black;
	background-image:url("../img/spiration-light.png");
	text-align: center;

}
section.contacto article{
	border:2px dashed white;
}

section.contacto h3,section.contacto a{
	color:white;
	text-align: center;
	text-decoration: none;
}

section.contacto a:hover{
	background-image:url("../img/spiration-light.png");
	text-decoration: none;
	color: black;
}

section.contacto h4{
	color: white;
	text-align: center;
	transition: transform(0.8s);

}

section.contacto h4:hover {
	transform: scale(1.2);
	color: white;
	list-style-type: none;
}

section.redes-sociales a{
	padding:0 10px;
}

section.redes-sociales img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transition: transform(0.8s);
}

section.redes-sociales img:hover{
	transform: scale(1.5);
}

footer{
	margin-top:50PX;
	color:white;
	text-align: right;
	clear: both;
}


/*===========================================GALERIA.html==============================================*/

section.seccion-b {
	width: 300px;
	float: left;
	background-image:url("../img/spiration-light.png");
	margin-top: 30px;
	border-radius: 5px;
	margin-left: 10px;
}

section.seccion-b h2 {
	text-align: center;
	color:black;
	font-family: 'Merienda', cursive;	

}

section.seccion-b p {
	color:black;
	font-family: 'Merienda', cursive;	
	text-align: justify;
	margin:15px 30px;
	font-size: 12px;

}


section.seccion-c {
	width: 1000px;
	float: left;
	background-image:url("../img/spiration-light.png");
	margin-top: 30px;
	border-radius: 5px;
	margin-left: 50px;
	font-family: 'Merienda', cursive;	

}

section.seccion-c article {
	border-bottom: 2px double black;
}

section.seccion-c article:last-child {
	border-bottom:none;
}


section.seccion-c article img{
	display: block;
	margin:0 auto;
	border-radius: 50%;
	border: 1px solid black;
}

section.seccion-c article video, section.seccion-c article audio {
	display: block;
	margin:0 auto;
}

section.seccion-c h2 {
	text-align: center;
	color:black;
	font-family: 'Merienda', cursive;
}

section.seccion-c p {
	color:black;
	font-size: 12px;
	font-family: 'Merienda', cursive;	
	text-align: justify;
	margin:15px 30px;
}


/*===========================================contacto.html==============================================*/

section.form {
	font-family: 'Merienda', cursive;		
	background-image:url("../img/spiration-light.png");
	width: 1000px;
	margin: 25px auto;
	border: 2px dashed black;
}

section.form-title h2{
	text-align: center;
	font-family: 'Merienda', cursive;		
}

section.form article{
	padding-right: 5px;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	width: 100%
}

section.form button.b1{
	margin-left: 40%;
	font-family: 'Merienda', cursive;
	font-size: 12px;		


}

section.form button.b2{
	margin-left: 10px;
	font-family: 'Merienda', cursive;
	font-size: 12px;		
}

