
body{
	background-color: lightyellow;
	font-family: sans-serif;
	font-weight: normal;
	background-image: url(../img/lashes.png);
	background-attachment: fixed;
	background-position: center center;
	
}

h1{
	text-align: center;
	font-style: italic;
	color: rgba(254, 47, 140, 0.84);
}

h2{
	font-weight: lighter;
	font-size: 25px
}

ul {
	align-self: center;
}

p{
	text-align: justify;
	font-size: 14px;
	line-height: 23px;
}

.destacado {
	background-color:violet;
	color: yellow;
	font-size:22px;
	line-height: 32px;
}

video{
	display: block;
	margin: 0 auto;
}	
